html, body {
	margin: 0;
	overflow: auto;
	padding: 0;
}

input {
	border: 0px;
	margin: 0px;
	padding: 2px;
}

nav {
	background: #664466;
	box-shadow: 0px 10px 25px #888888;
	color: #eeeeee;
	left: 0px;
	padding: 8px 1%;
	position: fixed;
	top: 0px;
	width: 98%
}

.nav-button,
.nav-button-right {
	cursor: pointer;
	font-family: sans-serif;
	font-size: 12px;
}

.nav-button-right {
	float: right;
}

div {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#codeview {
	background: #f3f3f3;
	float: left;
	font-family: monospace;
	font-size: 11px;
	line-height: 16px;
	margin-top: 40px;
}

.line-wrapper {
	float: left;
	width: 100%;
}

.active-line {
	background: #ff9966;
	box-shadow: 0px 3px 8px #aaaaaa;
}


.lineno {
	background: #eeeeee;
	float: left;
	margin-right: 1%;
	padding-right: 1%;
	text-align: right;
	width: 4%;
}

.codeline {
	float: right;
	width: 94%;
}

.codeline pre {
	margin: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;
}


#stack {
	border: 1px solid #999999;
	border-right: 0px;
	position: fixed;
	background: #ffffff;
	padding: 5px;
	right: 0;
	top: 50px;
}

	#stack .filename {
		font-family: monospace;
		font-size: 11px;
	}

#eval {
	background: #222222;
	border-top: 1px solid #cccccc;
	bottom: 0px;
	box-shadow: 0px -10px 25px #888888;
	color: #eeeeee;
	left: 0px;
	position: fixed;
	width: 100%
}

#eval input {
	border-bottom: 1px solid #333333;
}

#eval input,
#eval-content {
	background: #222222;
	color: #ffffff;
	margin: 0px;
	padding: 1%;
	font-size: 12px;
	font-family: monospace;
	width: 98%;
}

