html, body {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	margin: 0;
	overflow: auto;
	padding: 0;
}

label {
	color: #ffffff;
	font-weight: bold;
}

input {
	border: 0px;
	font-size: 1em;
	margin: 1px;
	padding: 2px;
}

.input-wide {
	width: 90%;
}

input.error {
	background-color: #ff3333;
}

code {
	background: #eeeeee;
	border: 1px solid #111111;
	color: #333333;
	display: block;
	font-family: monospace;
	margin: 0.6em;
	padding: 0.6em;
}

nav {
	background: #664466;
	box-shadow: 0px 5px 40px 10px #888888;
	color: #eeeeee;
	left: 0px;
	padding: 8px 1%;
	position: fixed;
	top: 0px;
	width: 98%;
	z-index: 9999;
}

nav a {
	color: #ffffff;
	text-decoration: underline;
}

#find-in-source {
	margin: 0 20px 0 20px;
	width: 100px;
}

.nav-button,
.nav-button-right {
	cursor: pointer;
	font-size: 1em;
}

.nav-button-right {
	float: right;
}

.nav-button.inactive {
	opacity: 0.2;
}

#processing-indicator {
	color: #7aff00;
	margin-right: 0.8em;
}

#processing-indicator.busy {
	color: #ff0000;
}


div {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#codeview {
	background: #f3f3f3;
	float: left;
	font-family: monospace;
	font-size: 1em;
}

.line-wrapper {
	float: left;
	width: 100%;
}

.active-line {
	background: #ff9966;
	box-shadow: 0px 3px 8px #aaaaaa;
}


.lineno {
	background: #eeeeee;
	float: left;
	margin-right: 1%;
	padding-right: 1%;
	text-align: right;
	width: 4%;
}

.lineno.breakpoint {
	background: #ff8888;
}

.codeline {
	float: right;
	width: 94%;
}

	.codeline pre {
		margin: 0px;
		tab-size: 4;
		word-wrap: break-word;
		white-space: pre-wrap;
	}

		.codeline pre em {
			background: #E6FF00;
			font-style: normal;
		}

		.codeline pre em.active {
			font-weight: bold;
		}

.slidepopup-left {
	background: url('../img/open.png') #888888 right 3px top 4px no-repeat;
	padding: 0px 20px 0px 0px;
}

.slidepopup-right {
	background: url('../img/open.png') #888888 left 3px top 4px no-repeat;
	padding: 0px 0px 0px 20px;
}

.popup-is-open {
	background-image: url('../img/close.png');
}

#stack {
	border: 0px;
	box-shadow: 3px 3px 30px 2px #888888;
	cursor: pointer;
	position: fixed;
	right: 0;
	top: 50px;
}

	#stack-filenames {
		background: #ffffff;
		cursor: default;
		padding: 5px;
	}

	#stack-filenames .filename {
		font-family: monospace;
		font-size: 1em;
	}

#eval {
	border: 0px;
	bottom: 30px;
	box-shadow: 0px -10px 25px #888888;
	color: #eeeeee;
	cursor: pointer;
	right: 0px;
	position: fixed;
}

#eval input {
	border-bottom: 1px solid #333333;
	width: 98%;
}

#eval input,
#eval-content {
	background: #222222;
	color: #ffffff;
	cursor: default;
	margin: 0px;
	padding: 1%;
	font-size: 1em;
	font-family: monospace;
}

#eval-content {
	max-height: 400px;
	overflow: auto;
}

#watches {
	border: 0px;
	top: 50px;
	box-shadow: 0px -10px 25px #888888;
	color: #eeeeee;
	cursor: pointer;
	right: 0px;
	position: fixed;
}

form.watches-line {
	float: left;
	margin: 0.5em 0;
	width: 98%;
}

form.watches-line input {
	float: left;
	font-family: monospace;
	font-weight: bold;
	width: 33%;
}

form.watches-line pre {
	background: #888888;
	float: right;
	margin: 0;
	max-height: 20em;
	overflow: auto;
	width: 65%;
}

form.watches-line input.blurred {
	background: #888888;
	color: #eeeeee;
}

.popup {
	border: 4px solid;
	display: none;
	left: 25%;
	padding: 5%;
	position: fixed;
	text-align: center;
	top: 45%;
	width: 40%;
}

.close-button {
	display: none;
	position: absolute;
	right: 1em;
	top: 0.5em;
}

.user-closable {
	cursor: pointer;
}

.user-closable .close-button {
	cursor: pointer;
	display: block;
}

#alert.busy {
	background: #f3f3f3;
	border-color: #dddddd;
}

#alert.info {
	background: #f3f3f3;
	border-color: #dddddd;
}

#alert.warn {
	background: #ffb25a;
	border-color: #ffffff;
}

#settings {
	display: none;
	margin-top: 15px;
	-webkit-user-select: text;
}

#settings-popup-button.error {
	color: #ff3333;
}

#settings-save {
	background: #ec5b13;
	border: 0;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	padding: 0.5em 1em;
}

#changelog {
	background: #f3f3f3;
	border: 4px #cccccc solid;
	display: none;
	height: 46%;
	left: 16%;
	padding: 4%;
	position: fixed;
	top: 25%;
	width: 60%;
}

#changelog-content {
	height: 100%;
	overflow: auto;
}

#changelog-button.draw-attention {
	color: #ffff33;
	font-weight: bold;
	transition: 500ms ease-in-out;
}

#changelog .version {
	margin-bottom: 2em;
}

#changelog .version-number {
	font-size: 1.2em;
	font-weight: bold;
}

#changelog .change-title {
	font-weight: bold;
	margin-top: 1em;
}

#changelog .change-description {
}

#breakpointOptions {
	background: #664466;
	border-color: #ffffff;
	text-align: left;
	padding-bottom: 4%;
}

#breakpointOptions label {
	color: #ffffff;
}

#breakpointOptions input {
	border: 1px solid #bbbbbb;
	font-family: monospace;
	margin: 0.5em 0 1.2em 0;
}

#breakpointOptions input[type='radio'] {
	margin: 0;
	vertical-align: middle;
}

button {
	border: 0;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	padding: 0.5em 1em;
}

#breakpointSaveCondition {
	background: #ec5b13;
}

#breakpointRemove {
	background: #444444;
	float: right;
}

label.bp-hit-operator {
	cursor: pointer;
	font-size: 1.1em;
	margin-right: 0.8em;
}

.breakpoint-id {
	color: #cccccc;
	display: block;
	text-align: right;
	width: 100%;
}

.accordion .tab-link {
	border-style: dotted;
	border-width: 0 0 1px 0;
	cursor: pointer;
	opacity: 0.6;
	padding: 8px 5px 5px 20px;
	text-transform: uppercase;
	background: url('../img/close.png') left 0px top 8px no-repeat;
}

.accordion .tab-link.active {
	opacity: 1.0;
	background: url('../img/open.png') left 0px top 8px no-repeat;
}

.accordion .tab-content {
	padding: 1em 0 2em 0.4em;
}

#settings-shortcuts td, #settings-shortcuts th {
	padding: 0.3em 2.2em 0.3em 0;
	text-align: left;
}

#settings-shortcuts th {
	font-weight: bold;
}

#settings-shortcuts .action_label {
	color: #dddddd;
}

#settings-shortcuts .key {
	cursor: pointer;
	font-weight: bold;
}

#settings-shortcuts .key.undefined {
	font-style: italic;
	font-weight: normal;
}

#settings-shortcuts .key_remove {
	cursor: pointer;
	font-family: monospace;
}

#tooltip {
	background: #888888;
	display: none;
	position: absolute;
	z-index: 10000;
}
