html, body {
	margin: 0;
	overflow: auto;
	padding: 0;
}

input {
	border: 0px;
	margin: 0px;
	padding: 2px;
}

nav {
	background: #664466;
	box-shadow: 0px 5px 40px 10px #888888;
	color: #eeeeee;
	left: 0px;
	padding: 8px 1%;
	position: fixed;
	top: 0px;
	width: 98%
}

.nav-button,
.nav-button-right {
	cursor: pointer;
	font-family: sans-serif;
	font-size: 12px;
}

.nav-button-right {
	float: right;
}

div {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#codeview {
	background: #f3f3f3;
	float: left;
	font-family: monospace;
	font-size: 11px;
	line-height: 16px;
	margin-top: 40px;
}

.line-wrapper {
	float: left;
	width: 100%;
}

.active-line {
	background: #ff9966;
	box-shadow: 0px 3px 8px #aaaaaa;
}


.lineno {
	background: #eeeeee;
	float: left;
	margin-right: 1%;
	padding-right: 1%;
	text-align: right;
	width: 4%;
}

.lineno.breakpoint {
	background: #ff8888;
}

.codeline {
	float: right;
	width: 94%;
}

.codeline pre {
	margin: 0px;
	tab-size: 4;
	word-wrap: break-word;
	white-space: pre-wrap;
}


#stack {
	background: #888888;
	background: url('../img/open.png') #888888 3px 4px no-repeat;
	border: 0px;
	box-shadow: 3px 3px 30px 2px #888888;
	cursor: pointer;
	padding: 0px 0px 0px 20px;
	position: fixed;
	right: 0;
	top: 50px;
}

	#stack-filenames {
		background: #ffffff;
		cursor: default;
		padding: 5px;
	}

	#stack-filenames .filename {
		font-family: monospace;
		font-size: 11px;
	}

#eval {
	background: url('../img/open.png') #888888 3px 4px no-repeat;
	border: 0px;
	bottom: 30px;
	box-shadow: 0px -10px 25px #888888;
	color: #eeeeee;
	cursor: pointer;
	right: 0px;
	padding: 0px 0px 0px 20px;
	position: fixed;
	width: 90%
}

#eval input {
	border-bottom: 1px solid #333333;
}

#eval input,
#eval-content {
	background: #222222;
	color: #ffffff;
	cursor: default;
	margin: 0px;
	padding: 1%;
	font-size: 11px;
	font-family: monospace;
	width: 98%;
}

#eval-content {
	max-height: 400px;
	overflow: auto;
}

#loading {
	background: #f3f3f3;
	border: 4px solid #cccccc;
	display: none;
	left: 40%;
	padding: 5%;
	position: fixed;
	top: 45%;
}

#settings {
	display: none;
	margin-top: 10px;
}

